#content, #editor, header, nav {
    position: absolute;
}
#content, #editor, header {
    left: 200px;
}
#menu, #textbar, textarea {
    border-style: solid;
    border-width: 1px;
}
#content, #menu {
    top: 5px;
}
#logo, nav {
    width: 175px
}
#menu, #editbox {
    background-color: white;
}
#content {
    width: 1000px;
    top: 100px;
}
#logo {
    height: 175px;
}
#menu {
    border-radius: 5px;
}
#textbar {
    background-color: lightgray;
    width: 694px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
body {
    background-color: gray;
}
h1 {
    margin: 0;
}
textarea {
    height: 450px;
    width: 700px;
    resize: none;
}
